/backend/node_modules

# dependencies
/fronted/node_modules
/fronted/.pnp
/fronted/.pnp.js

# testing
/fronted/coverage

# production
/fronted/build

# misc
/fronted/.DS_Store
/fronted/.env.local
/fronted/.env.development.local
/fronted/.env.test.local
/fronted/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
