.contenedor_bloques {
  display: flex;
  margin-top: 2rem;
  column-gap: 2rem;
}

.calendario_bloque {
  width: 40%;
}
.tarjeta_bloque {
  width: 60%;
}

.links_horario {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #163172;
}
