html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f6f6f6;
}

:root {
  --primary-color: #5c049b; /* 60% */
  --secondary-color: #eaf5e7; /* 30% */
  --tertiary-color: #0eb1d4; /* 10% */
}
