body {
  background-color: var(--primary-color);
  height: 100vh;
  margin: 0;
}
.login__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__container {
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
